# Python 缓存和虚拟环境
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# 前端依赖
node_modules/
dist/
dist_tmp/
frontend/dist_tmp/
build/

# 本地环境变量和机密
.env
.env.local
.env.production
config/kingdee/conf.ini
!config/kingdee/conf.ini.example

# 编辑器配置和系统文件
.vscode/
.idea/
.DS_Store
*.log

# Redis 持久化文件
appendonly.aof
dump.rdb

# 临时 Office 解压文件、临时 ZIP
.tmp_doc_*
customXml/
_rels/
docProps/
word/
[Content_Types].xml
*.rels

# ==========================
#忽略整个 static 目录
## ==========================
/static/
.tmp_nginx/
