fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
pg8000
passlib
python-jose[cryptography]
pydantic
pydantic-settings
python-multipart
requests
./python_sdk_v8.2.0/kingdee.cdp.webapi.sdk-8.2.0-py3-none-any.whl
bcrypt
python-dotenv
openpyxl
reportlab
pywin32
apscheduler
python-dateutil
httpx
